@use 'sass:map';
@import 'https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap';

$middle-w-mx: 75rem;
$middle-p-x: 1.5rem;
$middle-p-t: 4rem;
$middle-p-b: $middle-p-t + 6rem;
$middle-gap: 4rem;
$sidebar-w: 17.5rem;
$main-gap-x: 2rem;
$header-m-t: 64px;
$images-m-t: 24px;
$images-gap: 1.5rem; // 적당한 간격으로 수정
$header-gap-x: 3rem;
$header-gap-y: 0.5rem;
$image-r: 0.5rem;
$image-w-single: 100%; // 1열 이미지 너비
$image-w-double: calc(50% - #{$images-gap / 2}); // 2열 이미지 너비
$typography: (
  title-lg: (
    family: #{'Radio Canada Big',
    sans-serif},
    size: 3rem,
    weight: 900,
    lh: 1.1,
    c: #10284b,
  ),
  title: (
    family: #{'Radio Canada Big',
    sans-serif},
    size: 1.5rem,
    weight: 900,
    lh: 1.1,
    c: #10284b,
  ),
  body: (
    family: #{'Radio Canada Big',
    sans-serif},
    size: 1.25rem,
    weight: 400,
    lh: 1.5,
    c: #10284b,
  ),
  blue-text: (
    family: #{'Roboto Mono',
    monospace},
    size: 1rem,
    weight: 700,
    lh: 1.4,
    c: #381fd1,
  ),
);

@mixin apply-typography($key) {
  $map: map.get($typography, $key);

  font-family: map.get($map, 'family');
  font-size: map.get($map, 'size');
  font-weight: map.get($map, 'weight');
  line-height: map.get($map, 'lh');
  color: map.get($map, 'c');
}

body {
  padding: 1.25rem;
  font-family: 'Radio Canada Big', sans-serif;
  color: #10284b;
}

.middle {
  padding-block: $middle-p-t $middle-p-b;
  padding-inline: $middle-p-x;

  &__wrapper {
    display: grid;
    grid-template-columns: $sidebar-w auto;
    column-gap: $middle-gap;
    max-width: $middle-w-mx;
    margin-inline: auto;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: $main-gap-x;
}

.text {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto min-content;
  grid-column: 1 / -1;
  font-size: 1.125rem;
  font-weight: 600;

  & {
    margin-top: 2.5rem;
  }

  &__description {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}

.sidebar {
  position: sticky;
  top: 4rem;
  align-self: start;

  &__title {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;

    &__description {
      font-weight: 100;
      line-height: 20rem;
    }
  }
}

.images {
  display: grid;
  gap: $images-gap;

  &--one {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }

  &--two {
    grid-template-columns: repeat(2, 1fr); // 두 개의 컬럼으로 설정
  }

  .image {
    width: 100%;
    height: auto;
  }
}

@media (width <= 987px) {
  .middle {
    &__wrapper {
      grid-template-columns: 1fr; // 사이드바 없이 한 컬럼으로 변경
      column-gap: 0;
      padding: 1.25rem;
    }
  }

  .images {
    &--one,
    &--two {
      grid-template-columns: 1fr; // 한 개의 컬럼으로 변경
    }
  }

  .sidebar {
    display: none; // 화면이 좁아지면 사이드바 숨기기
  }
}

.yt-video {
  width: 100%;
  margin-top: $images-gap; /* 이미지와 동일한 간격 설정 */
}

.close-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  background-color: #10284b;
  border-radius: 0.5rem;
  transition: background-color 0.3s;

  &:hover {
    color: #fff; // 호버 시 글자색 변경
    text-decoration: none;
    background-color: #e646ff; // 호버 시 배경색 변경
    transform: scale(1.1); // 호버 시 확대 효과
  }
}
